<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>UserDetailsServlet</servlet-name>
        <servlet-class>com.example.UserDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailsServlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
</web-app>
